{%- doc -%}
  Renders mega menu list markup and optional featured content.

  @param {object} parent_link - The linklist to render.
  @param {string} id - Unique ID to assign to the `<ul>` element.
  @param {number} [grid_columns_count] - Number of grid columns for the mega menu.
  @param {number} [grid_columns_count_tablet] - Number of grid columns for the mega menu on tablets.
  @param {number} [grid_columns_count_collection_images] - Number of grid columns when `menu_content_type` is 'collection_images'.
  @param {string} [menu_content_type] - Type of content: 'featured_products', 'featured_collections', 'collection_images', or 'text'.
  @param {object} [custom_image] - Type of content is a custom image.
  @param {string} [custom_image_text]
  @param {string} [custom_image_link]
  @param {number} [content_aspect_ratio] - Aspect ratio for content images.
  @param {number} [image_border_radius] - Border radius for content images.
  @param {object} [section] - The section object.
  @param {boolean} [show_quiz_item] - Show the mega-menu quiz list item.
  @param {string} [quiz_intro]
  @param {string} [quiz_anchor]
  @param {string} [quiz_url]

  @param {boolean} [show_second_submenu_image]
  @param {object} [second_submenu_image]
  @param {string} [second_submenu_title]
  @param {string} [second_submenu_text]
  @param {string} [second_submenu_button_label]
  @param {string} [second_submenu_button_link]
  @param {string} [second_submenu_text_color] - ("white" | "black")

  @param {number} [second_submenu_promo_columns_desktop] - promo span columns (desktop)
  @param {number} [second_submenu_promo_columns_tablet] - promo span columns (tablet)
{%- enddoc -%}

{% liquid
  assign open_column_span = false
  assign column_count = 0
  assign links_before_wrap = 10

  assign max_menu_columns = grid_columns_count | default: 6
  assign max_menu_columns_tablet = grid_columns_count_tablet | default: 4

  assign quiz_intro = quiz_intro | default: 'Not sure where to start?'
  assign quiz_anchor = quiz_anchor | default: 'Take our 60-second quiz'
  assign quiz_url = quiz_url | default: '#'

  assign show_quiz_item = show_quiz_item | default: false
  if show_quiz_item == false and id == 'MegaMenuList-1'
    assign show_quiz_item = true
  endif

  assign eager_loading = false
  if section.index == blank
    assign eager_loading = true
  endif

  if menu_content_type == 'collection_images'
    assign collection_links = parent_link.links | where: 'type', 'collection_link'
    assign catalog_links = parent_link.links | where: 'type', 'catalog_link'
    assign collection_list_links = parent_link.links | where: 'type', 'collections_link'
    if collection_links.size == 0 and catalog_links.size == 0 and collection_list_links.size == 0
      assign menu_content_type = 'text'
    endif
  endif

  if menu_content_type == 'featured_collections'
    if parent_link.type == 'collection_link'
      assign collection_handles = parent_link.object.handle | append: ','
    elsif parent_link.type == 'catalog_link' or parent_link.type == 'collections_link'
      assign collection_handles = 'all' | append: ','
    endif

    assign collection_links = parent_link.links | where: 'type', 'collection_link'
    for collection_link in collection_links
      assign collection_handles = collection_handles | append: collection_link.object.handle | append: ','
    endfor
  endif

  

  if menu_content_type == 'featured_products'
    if parent_link.type == 'collection_link'
      assign collection_object = parent_link.object
    elsif parent_link.type == 'catalog_link' or parent_link.type == 'collections_link'
      assign collection_object = collections.all
    else
      assign menu_content_type = 'text'
    endif
  endif

  comment
    PROMO ENABLED:
    - Only for MegaMenuList-2
    - Must be enabled + have an image
    - When enabled, promo occupies the right side and we skip featured_* content.
  endcomment
  assign promo_enabled = false
  if id == 'MegaMenuList-2' and show_second_submenu_image == true and second_submenu_image != blank
    assign promo_enabled = true
  endif

  assign total_cols_desktop = grid_columns_count | default: 6
  assign total_cols_tablet  = grid_columns_count_tablet | default: 4

  comment
    Promo span:
    - Use editor values if provided
    - Else default to (total - 1)
    - Clamp to [1, total - 1]
  endcomment

  assign promo_max_desktop = total_cols_desktop | minus: 1
  assign promo_max_tablet  = total_cols_tablet  | minus: 1

  if promo_max_desktop < 1
    assign promo_max_desktop = 1
  endif
  if promo_max_tablet < 1
    assign promo_max_tablet = 1
  endif

  assign promo_span_desktop = second_submenu_promo_columns_desktop
  if promo_span_desktop == blank
    assign promo_span_desktop = promo_max_desktop
  endif

  assign promo_span_tablet = second_submenu_promo_columns_tablet
  if promo_span_tablet == blank
    assign promo_span_tablet = promo_max_tablet
  endif

  assign promo_span_desktop = promo_span_desktop | at_most: promo_max_desktop | at_least: 1
  assign promo_span_tablet  = promo_span_tablet  | at_most: promo_max_tablet  | at_least: 1
%}

{%- comment -%} MENU LIST {%- endcomment -%}
<ul
  data-menu-list-id="{{ id }}"
  class="mega-menu__list list-unstyled{% if promo_enabled %} mega-menu__list--promo-layout{% endif %}"
  style="--menu-image-border-radius: {{ image_border_radius }}px;"
>
  {% for link in parent_link.links %}
    {% liquid
      if forloop.first or open_column_span == false
        assign open_column_span = true

        assign break_after_modulo = link.links.size | modulo: links_before_wrap
        if break_after_modulo == 1
          assign links_before_wrap = links_before_wrap | minus: 1
        endif

        assign break_after_float = links_before_wrap | times: 1.0
        assign column_span = link.links.size | divided_by: break_after_float | ceil | at_least: 1
        assign column_count = column_count | plus: column_span
        assign should_break_columns = true

        if menu_content_type == 'collection_images'
          assign should_break_columns = false
          if parent_link.links.size <= 4
            assign span_class = 'mega-menu__column--wide-collection-image'
          else
            assign span_class = 'mega-menu__column--span-1'
          endif
        else
          assign span_class = 'mega-menu__column--span-' | append: column_span
        endif

        echo '<li class="mega-menu__column ' | append: span_class | append: '">'
      endif
    %}

    <div>
      <a
        href="{{ link.url }}"
        class="mega-menu__link {% if link.links != blank %}mega-menu__link--parent{% endif %}"
      >
        {% if menu_content_type == 'collection_images' %}
          {%- capture collection_image_sizes -%}
            {%- if parent_link.links.size <= 4 -%}
              {%- assign columns_per_item = 2 -%}
            {%- else -%}
              {%- assign columns_per_item = 1 -%}
            {%- endif -%}
            {%- render 'util-mega-menu-img-sizes-attr',
              menu_content_type: 'collection_images',
              settings: settings,
              grid_columns: grid_columns_count,
              grid_columns_tablet: grid_columns_count_tablet,
              grid_columns_collection_images: grid_columns_count_collection_images,
              parent_links_size: parent_link.links.size,
              columns_per_item: columns_per_item
            -%}
          {%- endcapture -%}

          {% render 'link-featured-image', link: link, class: 'mega-menu__link-image', sizes: collection_image_sizes %}
        {% endif %}

        <span class="mega-menu__link-title">
          {{- link.title -}}
        </span>
      </a>

      {% if link.links != blank %}
        <ul
          class="list-unstyled"
          {% if should_break_columns and promo_enabled == false %}
            style="column-count: {{ column_span }};"
          {% endif %}
        >
          {% for childLink in link.links %}
            {% assign break_after_modulo = forloop.index | modulo: links_before_wrap %}
            <li
              {% if break_after_modulo == 0 and should_break_columns and promo_enabled == false %}
                style="break-after: column;"
              {% endif %}
            >
              <a href="{{ childLink.url }}" class="mega-menu__link">
                <span class="mega-menu__link-title wrap-text">{{- childLink.title -}}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    {% liquid
      assign next_linklist = parent_link.links[forloop.index]

      if forloop.last
        assign open_column_span = false
      elsif menu_content_type == 'collection_images'
        assign open_column_span = false
      elsif next_linklist.links != blank
        assign open_column_span = false
      elsif link.links != blank and next_linklist.links == blank
        assign open_column_span = false
      endif

      if open_column_span == false
        echo '</li>'
      endif
    %}
  {% endfor %}
</ul>

{%- comment -%} PROMO CARD {%- endcomment -%}
{% if promo_enabled %}
  {%- assign img = second_submenu_image -%}
  {%- assign title = second_submenu_title -%}
  {%- assign text = second_submenu_text -%}
  {%- assign btn_label = second_submenu_button_label -%}
  {%- assign btn_link = second_submenu_button_link -%}
  {%- assign text_color = second_submenu_text_color | default: 'white' -%}

  <div
    class="mega-menu-promo-card"
    data-layout="editorial"
    style="--promo-columns-desktop: {{ promo_span_desktop }}; --promo-columns-tablet: {{ promo_span_tablet }};"
  >
    <div class="mega-menu-promo-card__editorial has-image text-{{ text_color }}">
      <span class="mega-menu-promo-card__image user-select-disable">
        {{
          img
          | image_url: width: 1600
          | image_tag:
            loading: 'lazy',
            alt: img.alt,
            class: 'mega-menu-promo-card__img'
        }}
      </span>

      <div class="mega-menu-promo-card__content">
        {% if title != blank %}
          <p class="mega-menu-promo-card__title">{{ title | escape }}</p>
        {% endif %}

        {% if text != blank %}
          <p class="mega-menu-promo-card__paragraph">{{ text | escape }}</p>
        {% endif %}

        {% if btn_label != blank and btn_link != blank %}
          <a class="mega-menu-promo-card__button button" href="{{ btn_link }}">
            {{ btn_label | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{%- comment -%}
  FEATURED CONTENT
  If promo is enabled, skip featured_products/featured_collections.
{%- endcomment -%}
{% unless promo_enabled %}
  {%- comment -%} (your existing featured_* logic stays exactly the same) {%- endcomment -%}
  {%- liquid
    assign min_products = 2
    assign max_products = 3
    assign min_products_tablet = 1
    assign max_products_tablet = 3
    assign min_collections = 1

    if menu_content_type == 'featured_products'
      assign temp_column_count = column_count | plus: min_products

      if temp_column_count > max_menu_columns
        assign max_product_columns = 2
      else
        assign max_product_columns = max_menu_columns | minus: column_count | at_most: max_products
      endif

      if eager_loading
        assign max_product_columns = max_product_columns | at_most: collection_object.products_count
      else
        assign max_product_columns = 0
      endif

      assign max_featured_products = max_product_columns
      assign max_menu_columns = max_menu_columns | minus: max_product_columns

      assign temp_column_count = column_count | plus: min_products_tablet

      if temp_column_count > max_menu_columns_tablet
        assign max_product_columns_tablet = 1
      else
        assign max_product_columns_tablet = max_menu_columns_tablet | minus: column_count | at_most: max_products_tablet
      endif

      assign max_product_columns_tablet = max_product_columns_tablet | at_most: max_product_columns

      assign max_featured_products_tablet = max_product_columns_tablet
      assign max_menu_columns_tablet = max_menu_columns_tablet | minus: max_product_columns_tablet
    endif

    if menu_content_type == 'featured_collections' or menu_content_type == 'custom_image'
      assign min_featured_collection_columns = min_collections | times: 2
      assign temp_column_count = column_count | plus: min_featured_collection_columns

      if temp_column_count > max_menu_columns
        assign max_collection_columns = 2
      else
        assign max_collection_columns = max_menu_columns | minus: column_count
      endif

      assign max_featured_collections = max_collection_columns | divided_by: 2 | floor
      assign max_menu_columns = max_menu_columns | minus: max_collection_columns

      assign max_collection_columns_tablet = 2
      assign max_featured_collections_tablet = 1
      assign max_menu_columns_tablet = max_menu_columns_tablet | minus: max_collection_columns_tablet
    endif
  -%}

  

  {% case menu_content_type %}
    {% when 'featured_products' %}
      {%- capture image_sizes -%}
        {%- render 'util-mega-menu-img-sizes-attr',
          menu_content_type: 'featured_products',
          settings: settings,
          grid_columns: grid_columns_count,
          grid_columns_tablet: grid_columns_count_tablet
        -%}
      {%- endcapture -%}

      <span
        class="mega-menu__content"
        style="--menu-content-columns-desktop: {{ max_product_columns }}; --menu-content-columns-tablet: {{ max_product_columns_tablet }}; --resource-card-corner-radius: {{ image_border_radius }}px;"
      >
        <ul class="mega-menu__content-list mega-menu__content-list--products list-unstyled">
          {% if eager_loading %}
            {% paginate collection_object.products by max_featured_products %}
              {% for item in collection_object.products %}
                <li class="mega-menu__content-list-item {% if forloop.index > max_featured_products_tablet %} mega-menu__content-list-item--hidden-tablet{% endif %}">
                  {% render 'resource-card',
                    resource: item,
                    resource_type: 'product',
                    image_hover: true,
                    image_aspect_ratio: content_aspect_ratio,
                    image_sizes: image_sizes
                  %}
                </li>
              {% endfor %}
            {% endpaginate %}
          {% endif %}

          {% if show_quiz_item %}
            <li class="mega-menu__quiz-list-item">
              <div class="mega-menu__quiz-intro">{{ quiz_intro }}</div>
              <div class="mega-menu__quiz-link"><a href="{{ quiz_url}}">{{ quiz_anchor }}</a></div>
            </li>
          {% endif %}
        </ul>
      </span>

    {% when 'featured_collections' %}
      {% assign collection_handles = collection_handles | split: ',' | uniq %}
      {%- capture image_sizes -%}
        {%- render 'util-mega-menu-img-sizes-attr',
          menu_content_type: 'featured_collections',
          settings: settings
        -%}
      {%- endcapture -%}

      {% if collection_handles.size == 1 %}
        {% assign max_featured_collections = 1 %}
      {% endif %}

      <span
        class="mega-menu__content"
        style="--menu-content-columns-desktop: {{ max_collection_columns }}; --menu-content-columns-tablet: {{ max_collection_columns_tablet }}; --resource-card-corner-radius: {{ image_border_radius }}px;"
      >
        <ul
          class="mega-menu__content-list mega-menu__content-list--collections list-unstyled"
          style="--menu-content-columns-desktop: {{ max_featured_collections }}; --menu-content-columns-tablet: {{ max_featured_collections_tablet }};"
        >
          {% for handle in collection_handles limit: max_featured_collections %}
            {% if handle == 'all' %}
              {% assign collection_object = collections.all %}
            {% else %}
              {% assign collection_object = collections[handle] %}
            {% endif %}

            <li class="mega-menu__content-list-item{% if forloop.index > max_featured_collections_tablet %} mega-menu__content-list-item--hidden-tablet{% endif %}">
              {% render 'resource-card',
                resource: collection_object,
                resource_type: 'collection',
                style: 'overlay',
                image_aspect_ratio: content_aspect_ratio,
                image_sizes: image_sizes
              %}
            </li>
          {% endfor %}

          {% if show_quiz_item %}
            <li class="mega-menu__quiz-list-item">
              <div class="mega-menu__quiz-intro">{{ quiz_intro }}</div>
              <div class="mega-menu__quiz-link"><a href="{{ quiz_url}}">{{ quiz_anchor }}</a></div>
            </li>
          {% endif %}
        </ul>
      </span>
    {% when 'custom_image' %}
      {% if custom_image != blank %}
        {%- capture image_sizes -%}
          {%- render 'util-mega-menu-img-sizes-attr',
            menu_content_type: 'featured_collections',
            settings: settings
          -%}
        {%- endcapture -%}

        <span
          class="mega-menu__content"
          style="--menu-content-columns-desktop: {{ max_collection_columns }}; --menu-content-columns-tablet: {{ max_collection_columns_tablet }}; --resource-card-corner-radius: {{ image_border_radius }}px;"
        >
          <ul
            class="mega-menu__content-list mega-menu__content-list--collections list-unstyled"
            style="--menu-content-columns-desktop: 1; --menu-content-columns-tablet: 1;"
          >
            <li class="mega-menu__content-list-item">
              {% if custom_image_link != blank %}
                <a href="{{ custom_image_link }}" class="resource-card resource-card--collection" style="display:block;">
              {% endif %}

                <div class="mega-menu-custom-card">
                  {{
                    custom_image
                    | image_url: width: 1600
                    | image_tag:
                      loading: 'lazy',
                      sizes: image_sizes,
                      class: 'mega-menu-custom-card__img',
                      alt: custom_image_text | default: custom_image.alt
                  }}

                  {% if custom_image_text != blank %}
                    <span class="mega-menu-custom-card__overlay-text">
                      {{ custom_image_text | escape }}
                    </span>
                  {% endif %}
                </div>

              {% if custom_image_link != blank %}
                </a>
              {% endif %}
            </li>

            {% if show_quiz_item %}
              <li class="mega-menu__quiz-list-item">
                <div class="mega-menu__quiz-intro">{{ quiz_intro }}</div>
                <div class="mega-menu__quiz-link"><a href="{{ quiz_url}}">{{ quiz_anchor }}</a></div>
              </li>
            {% endif %}
          </ul>
        </span>
      {% endif %}

  {% endcase %}
{% endunless %}

{% style %}
  /* Grid column vars for the grid wrapper */
  [data-menu-grid-id="{{ id }}"] {
    {% if menu_content_type == 'collection_images' and parent_link.links.size < 5 %}
      --menu-columns-desktop: {{ grid_columns_count_collection_images }};
      --menu-columns-tablet: {{ grid_columns_count_tablet }};
    {% else %}
      --menu-columns-desktop: {{ grid_columns_count }};
      --menu-columns-tablet: {{ grid_columns_count_tablet }};
    {% endif %}
  }

  /* Menu list span */
  [data-menu-list-id="{{ id }}"] {
    {% if promo_enabled %}
      --menu-columns-desktop: 1;
      --menu-columns-tablet: 1;
    {% else %}
      {% if menu_content_type == 'collection_images' and parent_link.links.size < 5 %}
        --menu-columns-desktop: {{ grid_columns_count_collection_images }};
        --menu-columns-tablet: {{ max_menu_columns_tablet }};
      {% else %}
        --menu-columns-desktop: {{ max_menu_columns }};
        --menu-columns-tablet: {{ max_menu_columns_tablet }};
      {% endif %}
    {% endif %}
  }

  /* ✅ Promo positioning: right aligned + spans N columns */
  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card {
    grid-column: span var(--promo-columns-tablet) / -1;
    align-self: start;
    min-width: 0;
  }

  @media screen and (min-width: 990px) {
    [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card {
      grid-column: span var(--promo-columns-desktop) / -1;
    }
  }

  /* ✅ When promo layout is on, force the menu list to behave like a single column */
  [data-menu-grid-id="{{ id }}"] .mega-menu__list--promo-layout {
    grid-template-columns: 1fr;
  }
  [data-menu-grid-id="{{ id }}"] .mega-menu__list--promo-layout .mega-menu__column,
  [data-menu-grid-id="{{ id }}"] .mega-menu__list--promo-layout .mega-menu__column--span-2,
  [data-menu-grid-id="{{ id }}"] .mega-menu__list--promo-layout .mega-menu__column--span-3,
  [data-menu-grid-id="{{ id }}"] .mega-menu__list--promo-layout .mega-menu__column--span-4,
  [data-menu-grid-id="{{ id }}"] .mega-menu__list--promo-layout .mega-menu__column--wide-collection-image {
    grid-column: span 1 !important;
  }

  /* Promo visuals (scoped) */
  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__editorial {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    min-height: 240px;
  }

  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__editorial::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
  }

  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__image {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 480px;
    color: inherit;
  }

  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__title {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    font-size:24px;
    max-width:400px;
    text-wrap:balance;
  }

  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__paragraph {
    margin: 0;
    max-width:450px;
    text-wrap:balance;
  }

  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__editorial.text-white { color: #fff; }
  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__editorial.text-black { color: #111; }
  [data-menu-grid-id="{{ id }}"] .mega-menu-promo-card__editorial.text-black::after { background-color: rgba(255,255,255,.55); }

  /* Custom image overlay */
[data-menu-grid-id="{{ id }}"] .mega-menu-custom-card {
  position: relative;
  border-radius: var(--menu-image-border-radius);
  overflow: hidden;
}

[data-menu-grid-id="{{ id }}"] .mega-menu-custom-card__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  /* Optional: match your collection cards aspect ratio if needed */
  aspect-ratio: 16 / 9;
}

[data-menu-grid-id="{{ id }}"] .mega-menu-custom-card__overlay-text {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  z-index: 2;

  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;

  /* ensures readability on any image */
  color: #fff;
  text-shadow: 0 2px 12px rgba(0,0,0,.55);
}

/* Optional: add a subtle dark gradient behind text */
[data-menu-grid-id="{{ id }}"] .mega-menu-custom-card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(0,0,0,.55), rgba(0,0,0,0) 60%);
}

.mega-menu__quiz-link a {
  text-decoration:underline;
}

{% endstyle %}
