<div class="star-wrapper">
    <span class="star">{{ 'icon-star-filled.svg' | inline_asset_content }}</span>
    <span class="star">{{ 'icon-star-filled.svg' | inline_asset_content }}</span>
    <span class="star">{{ 'icon-star-filled.svg' | inline_asset_content }}</span>
    <span class="star">{{ 'icon-star-filled.svg' | inline_asset_content }}</span>
    <span class="star">{{ 'icon-star-filled.svg' | inline_asset_content }}</span>
</div>

<style>
    .star-wrapper {
        display:flex;
        flex-direction:row;
    }
    .star svg {
        width:16px;
        height:16px;
        fill:#f7d12f;
        margin-right:-1px;
    }
</style>